# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# SQLite database
*.sqlite3
students_db.sqlite3

# Virtual environment
env/
venv/
.venv/

# Django static files
staticfiles/

# Environment files (secrets)
.env

# VSCode / IDE settings
.vscode/
.idea/

# macOS / Windows system files
.DS_Store
Thumbs.db
